@model IEnumerable<Practical_14.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>
    <div class="form-group">

        <input type="search" id="searchText" class="form-control" placeholder="Search" />
    </div>
</form>
<div class="result">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<ul class="pagination">

    @if (ViewBag.TotalRecords > ViewBag.PageSize)
    {
        int totalPages = (int)Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize);

        for (int i = 1; i <= totalPages; i++)
        {
            <li><a href="@Url.Action("Index", new { page = i })" class="@(ViewBag.PageNumber == i ? "active" : "")">@i</a></li>
        }
    }
</ul>
@section scripts {
    <script>
        $(document).ready(function ()
        {
            $('#searchText').on('input', function ()
            {
                var searchText = $(this).val();

                $.ajax({
                    url: '@Url.Action("Search", "Employees")',
                    type: 'GET',
                    data: { searchTerm: searchText },
                    success: function (data)
                    {
                        console.log(data);
                        $('.result').html(data);

                    },
                    error: function (error)
                    {
                        alert('An error occurred while searching.');
                        console.log(error)
                    }
                });
            });
        });
    </script>
}